Source: pantheon-greeter
Section: x11
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <sergey@elementaryos.org>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libclutter-gtk-1.0-dev,
               libgranite-dev,
               libindicator3-dev,
               liblightdm-gobject-dev (>= 1.2.1) | liblightdm-gobject-1-dev (>= 1.2.1),
               lightdm-vala (>= 1.2.1) | liblightdm-gobject-1-dev (>= 1.2.1),
               valac (>= 0.16)
Standards-Version: 3.9.3
Homepage: https://launchpad.net/pantheon-greeter

Package: pantheon-greeter
Architecture: any
Depends: numlockx, ${misc:Depends}, ${shlibs:Depends}
Provides: lightdm-theme
Description: Pantheon Login Screen
 Clutter-powered LightDM greeter resembling Unity greeter written for Pantheon.
 It features smooth animations and a fancy transition from boot screen.
