Source: io.elementary.greeter
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               desktop-file-utils,
               gettext,
               libaccountsservice-dev,
               libgdk-pixbuf2.0-dev,
               libgranite-dev,
               libgtk-3-dev,
               libhandy-1-dev,
               liblightdm-gobject-1-dev (>= 1.2.1),
               libmutter-12-dev | libmutter-11-dev | libmutter-10-dev,
               libx11-dev,
               meson,
               valac (>= 0.26)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/greeter

Package: io.elementary.greeter
Architecture: any
Depends: numlockx, lightdm, ${misc:Depends}, ${shlibs:Depends}
Replaces: pantheon-greeter
Recommends: elementary-default-settings (>= 5.2)
Provides: lightdm-greeter
Description: Pantheon Login Screen
 Clutter-powered LightDM greeter resembling Unity greeter written for Pantheon.
 It features smooth animations and a fancy transition from boot screen.

Package: pantheon-greeter
Architecture: any
Depends: io.elementary.greeter, ${misc:Depends}
Section: oldlibs
Priority: optional
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.
