/*
 * Copyright 2018-2023 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

.background {
    opacity: 0;
    transition: opacity 1s ease;
}

.background.initialized {
    opacity: 1;
}

.date,
.time {
    color: #fff;
}

.date {
    font-size: 2em;
    font-weight: 600;
    margin-top: -0.5em;
    opacity: 0.9;
    text-shadow:
        0 1px 2px alpha(black, 0.4),
        0 1px 3px alpha(black, 0.1);
}

.time {
    font-feature-settings: "cv01";
    font-size: 10em;
    font-weight: 500;
    letter-spacing: -0.05em;
    text-shadow:
        0 1px 2px alpha(black, 0.3),
        0 3px 6px alpha(black, 0.15);
}

@keyframes shake {
    0% { margin-left: -32px; margin-right: 32px; }
    25% { margin-left: 32px; margin-right: -32px; }
    50% { margin-left: -16px; margin-right: 16px; }
    75% { margin-left: 16px; margin-right: -16px; }
    100% { margin-left: 0; margin-right: 0;}
}

.rounded {
    border-radius: 6px;
}

.shake {
    animation: shake 0.4s ease-in-out 1;
}

.card.collapsed label.h2 {
    font-size: 1.5em;
}

check {
    background-color: @accent_color;
    border-radius: 99px;
    color: white;
    margin: 2px;
    min-height: 20px;
    min-width: 20px;
    -gtk-icon-shadow: 0 1px 1px shade(@accent_color, 0.7);
    -gtk-icon-source: -gtk-icontheme("check-active-symbolic");
    -gtk-icon-transform: scale(0.6);
}
