/*
 * Copyright 2018-2023 elementary, Inc. (https://elementary.io)
 * SPDX-License-Identifier: GPL-2.0-or-later
 */

window.background {
    opacity: 0;
    transition: opacity 1s ease;
}

window.background.initialized {
    opacity: 1;
}

.date,
.time {
    color: #fff;
}

.date {
    font-size: 2em;
    font-weight: 600;
    margin-top: -0.5em;
    opacity: 0.9;
    text-shadow:
        0 1px 2px alpha(black, 0.4),
        0 1px 3px alpha(black, 0.1);
}

.time {
    font-feature-settings: "cv01";
    font-size: 10em;
    font-weight: 500;
    letter-spacing: -0.05em;
    text-shadow:
        0 1px 2px alpha(black, 0.3),
        0 3px 6px alpha(black, 0.15);
}

@keyframes shake {
    0% { margin-left: -32px; margin-right: 32px; }
    25% { margin-left: 32px; margin-right: -32px; }
    50% { margin-left: -16px; margin-right: 16px; }
    75% { margin-left: 16px; margin-right: -16px; }
    100% { margin-left: 0; margin-right: 0;}
}

.rounded {
    border-radius: 6px;
}

.shake {
    animation: shake 0.4s ease-in-out 1;
}

.card.collapsed label.h2 {
    font-size: 1.5em;
}

check {
    border-radius: 99px;
    color: white;
    margin: 2px;
    min-height: 20px;
    min-width: 20px;
    -gtk-icon-source: -gtk-icontheme("check-active-symbolic");
    -gtk-icon-transform: scale(0.6);
}

check.banana {
    background-color: mix(@BANANA_500, @BANANA_700, 0.3);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@BANANA_500, @BANANA_700, 0.3), 0.7);
}

check.blueberry {
    background-color: mix(@BLUEBERRY_300, @BLUEBERRY_500, 0.25);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@BLUEBERRY_300, @BLUEBERRY_500, 0.25), 0.7);
}

check.bubblegum {
    background-color: mix(@BUBBLEGUM_300, @BUBBLEGUM_500, 0.25);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@BUBBLEGUM_300, @BUBBLEGUM_500, 0.25), 0.7);
}

check.cocoa {
    background-color: @COCOA_300;
    -gtk-icon-shadow: 0 1px 1px shade(@COCOA_300, 0.7);
}

check.grape {
    background-color: mix(@GRAPE_300, @GRAPE_500, 0.5);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@GRAPE_300, @GRAPE_500, 0.5), 0.7);
}

check.latte {
    background-color: mix(@LATTE_300, @LATTE_500, 0.25);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@LATTE_300, @LATTE_500, 0.25), 0.7);
}

check.lime {
    background-color: mix(@LIME_300, @LIME_500, 0.25);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@LIME_300, @LIME_500, 0.25), 0.7);
}

check.mint {
    background-color: mix(@MINT_300, @MINT_500, 0.75);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@MINT_300, @MINT_500, 0.75);, 0.7);
}

check.orange {
    background-color: mix(@ORANGE_300, @ORANGE_500, 0.5);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@ORANGE_300, @ORANGE_500, 0.5), 0.7);
}

check.slate {
    background-color: @SLATE_100;
    -gtk-icon-shadow: 0 1px 1px shade(@SLATE_100, 0.7);
}

check.strawberry {
    background-color: mix(@STRAWBERRY_300, @STRAWBERRY_500, 0.25);
    -gtk-icon-shadow: 0 1px 1px shade(mix(@STRAWBERRY_300, @STRAWBERRY_500, 0.25), 0.7);
}
