check {
    background-color: @accent_color;
    border-radius: 99px;
    color: white;
    margin: 2px;
    min-height: 20px;
    min-width: 20px;
    -gtk-icon-shadow: 0 1px 1px shade(@accent_color, 0.7);
    -gtk-icon-source: -gtk-icontheme("check-active-symbolic");
    -gtk-icon-transform: scale(0.6);
}
