.date,
.time {
    color: #fff;
    text-shadow:
        0 1px 1px alpha (#000, 0.3),
        -1px 1px 1px alpha (#000, 0.15),
        1px 1px 1px alpha (#000, 0.15),
        0 2px 1px alpha (#000, 0.05),
        -2px 2px 1px alpha (#000, 0.05),
        2px 2px 1px alpha (#000, 0.05);
}

.date {
    font-size: 24px;
}

.time {
    font-size: 72px;
}
