<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
  <action id="io.elementary.greeter.AccountsService.ModifyOwn">
    <description gettext-domain="io.elementary.greeter">Set properties of own user</description>
    <message gettext-domain="io.elementary.greeter">Authentication is required to set one's own greeter properties.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="io.elementary.greeter.AccountsService.ReadAny">
    <description gettext-domain="io.elementary.greeter">Get properties of any user</description>
    <message gettext-domain="io.elementary.greeter">Authentication is required to get another user's greeter properties.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="io.elementary.greeter.AccountsService.ModifyAny">
    <description gettext-domain="io.elementary.greeter">Set properties of any user</description>
    <message gettext-domain="io.elementary.greeter">Authentication is required to set another user's greeter properties.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>
</policyconfig>
